extends layout

block content
  h1= title
  p Welcome to #{title}
  section._main
    div
      h2= uploadImage.itemname
      img(src=uploadImage.path)
      p= uploadImage.username
      p= uploadImage.updateAt
      p= uploadImage.createAt
    form(action="/item/delete/#{uploadImage._id}", method="post")
      input(type="submit", value="削除")
    a(href="/page") 戻る
