extends layout

block content
  h1= title
  p Welcome to #{title}
  section._main
    form(action="/page", method="post", enctype="multipart/form-data")
      input(type="hidden", name="_csrf", value="#{csrf}")
      div
        label ファイル：
        input(type="file", name="photo")
      div
        label ファイル名：
        input(type="text", name="itemname")
      div
        input(type="submit", value="アップロード")

    ul.item-list
      each uploadImage in uploadImages
        li
          a(href="/item/#{uploadImage._id}")
            h2= uploadImage.itemname
            img.thumbnail(src=uploadImage.path)
            p= uploadImage.username
